<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-4 col-lg-offset-4">
    
    <div class="page-header">
       <h1>User Listing</h1>
    </div>
<table>
  <tr>
    <th>Name</th>
    <th>Action</th>
  </tr>
  
  <% @users.each do |user| %>

  <tr>
      <td><%= user.name %></td>
      <td><%= link_to "Edit", edit_user_path(user) %> <%= link_to "Delete", user_path(user), method: :delete, confirm: 'Are you sure?' %></td>
  </tr>
  
  <% end %>
</table>
    
  </div>
</div>